:root {
  --color-blue: #1f628e;
  --color-white: #ffffff;
  --color-orange: #f68712;
  --color-background: #f5f5f5;
  --color-text-dark: #2d2d2d;
  --color-text-light: #6b6b6b;
  --font-display: "Instrument Sans", sans-serif;
  --font-body: "Instrument Sans", sans-serif;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;
  --transition-speed: 0.3s;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  min-height: calc(100vh - 80px - 300px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color var(--transition-speed) ease;
  font-family: "Instrument Sans", sans-serif;
}

/* a:hover {
  color: var(--color-background);
} */

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  transition: all var(--transition-speed) ease;
  font-family: "Instrument Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

@media (max-width: 768px) {
  :root {
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 2.5rem;
  }
}
